.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.resource {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    opacity: 0; /* For scroll animation */
    transform: translateY(50px); /* For scroll animation */
}

.resource.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

a {
    display: inline-block;
    color: #f8e431;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #007acc;
}
